html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 0;
}

main {
    margin: auto;
    width: 100%;
    margin-top: 2rem;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

header .top {
    display: flex;
    flex-direction: row;
}

header .vertical-line {
    border-left: 1px solid #AEAEAE;
    height: 3rem;
    margin: 1rem;
    margin-left: 1rem;
}

#logo {
    padding-left: 5rem;
}

#corner-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 9rem;
    z-index: 1;
}

header #nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
}

header #nav-bar a{
    color: black;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

header #nav-bar a:hover {
    color: #FF5835;
}


.dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}

.dropdown-content {
    z-index: 1;
    display: block;
    width: 16rem;
    text-align: left;
    height: max-content;
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(212, 209, 209);
    color: black !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header #nav-bar li span {
    font-size: 12px;
}

header #nav-bar #donate {
    color: red;
    border: 2px solid red;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
}
header #nav-bar #donate:hover {
    background-color: #eb3c1aea;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 3rem;
}

hr {
    width: 100%;
    opacity: 40%;
}

section {
    width: 80%;
    margin: auto;
}

section figure {
    position: relative;
    margin: 0;
}

section #overlay {
    display: block;
    max-width: 100%;
    float: right;
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

figure img {
    width: 100%;
}

figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

figcaption p {
    color: white;
    padding-left: 1rem;
    line-height: 1;
}

p .inline {
    color: red;
    text-decoration: none;
}

blockquote {
    margin: 0;
    color: #aaa;
    padding: 5px 28px;
    float: left;
    padding-left: 0rem;
    width: 40%;
    font-size: 23px;
    font-style: italic;
    line-height: 1.3;
    text-align: justify;
}

blockquote cite {
    font-style: normal;
    color: black;
    font-size: 16px;
}

blockquote span {
    color: red;
    font-size: 2rem;
}

.emphasis em{
    font-size: 12px;
    line-height: 0.5;
}

.gallery {
    position: relative;
}

.gallery .overlay-texts {
    position: absolute;
    margin: auto;
    left: 35%;
    right: 25%;
    top: 40%;
    z-index: 1;
}

.gallery .overlay-texts h2 {
    font-family: monospace;
    color: #13164B;
    font-size: 25px;
    white-space: nowrap;
}

.gallery .overlay-texts p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: white;
}

.gallery img{
    border: 2px solid #FF5835;
}

.gallery button {
    padding: 1rem 8rem;
    border: 2px solid #FF5835;
    border-radius: 50px;
    margin-left: 3rem;
    color: #FF5835;
    cursor: pointer;
    transition: all .6s cubic-bezier(.39,.5,.15,1.36);
}

.gallery button:hover{
    background-color: #FF5835;
    transform: scale(1.05);
    color: white;
}

.gallery .overlay {
    background-color: rgba(148, 106, 54, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

main #after-main {
    width: 80%;
    margin-top: 2rem;
}

.related{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-left: -1rem;
}

.related .multimedia {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 47%;
    height: 13rem;
    border: 2px solid #FF5835;
}

.multimedia .media-body {
    padding: 0.5rem;
    width: inherit;
}

.media-body i {
    color: #FF5835;
    font-size: 12px;
}

.media-body .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media-body hr {
    width: 90%;
    color: #AEAEAE;
}

.media-body .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #AEAEAE;
    font-size: 13px;
}

.media-body span {
    font-size: 13px;
    color: #AEAEAE;
}
.media-body h2 {
    font-size: 13px;
}
.media-body .media-summary {
    font-size: 12px;
    color: #AEAEAE;
}
.media-body a {
    cursor: pointer;
    font-size: 12px;
    color: #FF5835;
}

.related .news {
    box-sizing: border-box;
    width: 47%;
    height: 13rem;
    border: 2px solid #FF5835;
}

.related .publications {
    box-sizing: border-box;
    width: 47%;
    height: 13rem;
    border: 2px solid #FF5835;
}

.related img {
    height: 100%;
}

#btn-home {
    margin-left: 90%;
    background-color: Black;
    border: none;
    padding: 15px;
}

.fa-chevron-up:before {
    content: "\f077";
    font-size: 20px;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-span {
    align-self: center;
    font-size: 14px;
    font-family: "Open Sans";
    margin-left: 15px;
}

.footer-span a{
    color: #FF5835;
    text-decoration: none;
}
.footer-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
}
.link-home{
    margin-left: 10%;
    font-size: 12px;
}

.link-home a{
    text-decoration: none;
    color: #FF5835;
}

.fa-facebook-square, 
.fa-instagram, .fa-youtube-play, .fa-twitter-square {
    color: black;
}

footer #subscribe {
    background-color: white;
    color: #FF5835;
    font-size: 14px;
    padding: 6px 33px;
    border-radius: 2rem;
    border: 3px solid #FF5835;
    margin-left: 2rem;
    height: 2rem;
    align-self: center;
    cursor: pointer;
    transition: all .6s cubic-bezier(.39,.5,.15,1.36);
}

footer #subscribe:hover{
    background-color: #FF5835;
    transform: scale(1.05);
    color: white;
}

.checkbtn {
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
    margin-top: -4rem;
    margin-right: 1rem;
    border: 1px solid rgb(88, 86, 86);
    padding: 0.2rem 0.8rem;
    border-radius: 6px;
}
.checkbtn:hover {
    background-color: rgb(231, 227, 227);
}

#check {
    display: none;
}

@media only screen and 
(max-width: 1190px) {
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    header #nav-bar ul {
        padding-left: 13rem;
    }
}

@media only screen and
(max-width: 1176px){
    .related {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .related .multimedia{
        width: 90%;
        justify-content: center;
    }
}

@media only screen and 
(max-width: 960px){
    #logo {
        padding-left: 1rem;
    }
    section #overlay {
        width: 100%;
        margin-bottom: 1rem;
    }

    blockquote {
        width: 100%;
        margin-bottom: 1rem;
    }

    #btn-home {
        margin-left: 82%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .gallery .overlay-texts {
        left: 7rem;
    }

    .gallery .overlay-texts h2{
        font-size: 20px;
    }
    .gallery button {
        padding: 0.4rem 4rem;
    }
    header {
        display: block;
    }

    header #nav-bar ul{
        width: auto;
        flex-direction: column;
        display: none;
        gap: 1.4rem;
        padding-left: 3rem;
    }

    header #nav-bar ul li {
        display: block;
    }
    header #nav-bar ul .dropbtn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header #corner-img {
        display: none;
    }
    
    header .top .vertical-line {
        display: none;
    }

    .checkbtn {
        display: block;
        float: right;
    }

    #check:checked ~ ul {
        display: flex;
    }

    header #nav-bar #donate {
        padding: 0.5rem 8rem;
        width: auto;
    }

    .dropdown-content {
        position: relative;
        box-shadow: none;
    }

    .dropdown-content a:hover{
        color: red;
    }
}

@media only screen and 
(max-width: 630px) {
    .related .multimedia {
        flex-direction: column;
        height: max-content;
        width: 100%;
    }

    .related img{
        width: -webkit-fill-available;
    }

    .multimedia .media-body{
        width: initial;
    }

    .gallery .overlay-texts h2 {
        font-size: 13px;
    }

    .gallery .overlay-texts {
        left: 3rem;
    }
}

@media only screen and
(max-width:388px) {
    .gallery .overlay-texts{
        top: 15%;
    }
    .gallery .overlay-texts h2 {
        font-size: 10px;
    }
    .gallery .overlay-texts p {
        font-size: 9px;
    }
    .gallery button {
        padding: 0.1rem 2rem;
        margin-left: 2rem;
    }
    header #nav-bar #donate {
        padding: 0.5rem 5rem;
    }
}